{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Invera - Control de Tareas </title>
  <meta name="description" content="Invera">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" />
</head>

<body>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
   <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  {% block scripts %}
  {% endblock %}
</body>
</html>